.*{
	margin: 0px;
	padding: 0px;
}

body{
	background-size: cover;
	font-family: Arial;
	color: white;
}

ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul li{
	float: left;
	width: 205px;
	height: 40px;
	background-color: black;
	opacity: .8;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	margin-right: 2px;
}

ul li a {
	text-decoration: none;
	color: white;
	display: block;
}

ul li ul li:hover {
	background-color: green;
}

ul li a:hover {
	background-color: green;
}

ul li ul li{
	display: none;
}

ul li:hover ul li {
	display: block;
}

#video{
	position: relative;
	right: 20%;
	margin-top: 10px;
	margin-left: 275px;
	background-color: gray;
}

.authenticate{
	position: relative;
	font-family: sans-serif;
	color: black;
	width: 200px;
	/*background-color: white;*/
	margin-left: 1150px;
	bottom: 450px;
}

.heading{
	margin-left:65px;
	font-size: 50px;
	margin-top: 10px;
	color: #800000;
	text-shadow: 5px 10px 10px #CD5C5C;
}

#quote{
	font-family: sans-serif;
	font-size: 25px;
	margin-top: 20px;
	margin-left: 25px;
	color: black;
	position: relative;
	right: 12%;
}

.first{
	padding-left: 20px;
	margin-left: 150px;
	/*float: right;*/
	/*background-color: green;*/
}

.second{
	width: 83%;
	/*height: 0%;*/
	margin-left: 28%;
	/*margin: auto;*/
	/*background-color: green;*/
	margin-top: 30px;
}

.third{
	padding-left: 20px;
	margin-left: 190px;
	width: 80%;
	height: 30%;
	background-color: red;
	margin-left: 240px;
	margin-top: 25px;
}

.fourth{
	width: 70%;
	height: 30%;
	margin-top: 100px;
	margin-left: 46.5%;
}

.sidebar{
	position: fixed;
	width: 245px;
	height: 80%;
	margin-top: 60px;
	float: left;
	background: #151719;
	/*background-color: black;*/
	left: -245px;
	transition: all ease-in-out 400ms;
	-webkit-transition: all ease-in-out 400ms;
}

.sidebar.active{
	left: 0px;
}

.sidebar ul li{
	list-style: none;
	color: rgba(230,230,230,0.9);
	padding: 15px 20px;
	border-bottom: solid rgba(100,100,100,0.3);
}

.sidebar .toggle-btn{
	position: absolute;
	left: 250px;
	top: 20px;
}

.sidebar{
	cursor: url(handcursor.jpg),pointer;
}

.first{
	cursor: url(handcursor.jpg),pointer;
}

.third{
	cursor: url(handcursor.jpg),pointer;
}

.sidebar .toggle-btn span{
	display: block;
	width: 35px;
	height: 5px;
	background: #151719;
	margin: 5px 0px;
}

.image{
	margin-left: 20px;
}

.subheading{
	color: #000000;
	margin-top: -20px;
	margin-left: 280px;
	text-shadow: 5px 10px 10px black;
}

.city{
	font-size: 25px;
	float: left;
	width: 30%;
	margin-left: 80px;
	/*background-color: black;*/
	margin-top: 30px;
}

.zipcode{
	font-size: 25px;
	float: left;
	width: 30%;
	margin-left: 100px;
	/*background-color: black;*/
	margin-top: 30px;
}

.street{
	font-size: 25px;
	float: left;
	width: 30%;
	margin-left: -50px;
	/*background-color: black;*/
	margin-top: 30px;
}

/*#submit{
	width: 20%;
	height: 40%
	margin-left: 20px;
}*/

#map{
	position: relative;
	margin-left: 23%;
}

.about{
	background-color: red;
	margin-left: 150px;
}

.about{
	position: relative;
	width: 100%;
	height: 180px;
	background-image: url('wheat.jpg');
	background-color: red;
	margin-top: 50px;
	float: right;
}

.products{
	position: relative;
	width: 100%;
	height: 180px;
	background-image: url('wheat.jpg');
	margin-top: 50px;
}

/*.smartlamps{
	position: relative;
	width: 100%;
	height: 180px;
	background-image: url('wheat.jpg');
	margin-top: 50px;
}*/

.news{
	position: relative;
	width: 100%;
	height: 180px;
	background-image: url('wheat.jpg');
	margin-top: 50px;
}

/*.php{
	width: 500px;
	height: 200px;
	background-color: black;
	margin-top: 100px;
}*/









/*.*{
	margin: 0px;
	padding: 0px;
}

body{
	background-size: cover;
	font-family: Arial;
	color: grey;
}
ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul li{
	float: left;
	width: 205px;
	height: 40px;
	background-color: black;
	opacity: .8;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	margin-right: 2px;
}

ul li a {
	text-decoration: none;
	color: white;
	display: block;
}

ul li ul li:hover {
	background-color: green;
}

ul li a:hover {
	background-color: green;
}

ul li ul li{
	display: none;
}

ul li:hover ul li {
	display: block;
}

#video{
	position: relative;
	right: 20%;
	margin-top: 10px;
	margin-left: 275px;
	background-color: gray;
}

.authenticate{
	position: relative;
	font-family: sans-serif;
	color: black;
	width: 200px;
	/*background-color: white;*/
	margin-left: 1150px;
	bottom: 450px;
}

.heading{
	margin-left:65px;
	font-size: 50px;
	margin-top: 10px;
	color: #800000;
	text-shadow: 5px 10px 10px #CD5C5C;
}

#quote{
	font-family: sans-serif;
	font-size: 25px;
	margin-top: 20px;
	margin-left: 25px;
	color: black;
	position: relative;
	right: 12%;
}

.first{
	padding-left: 20px;
	margin-left: 150px;
	float: right;
	width: 90%;
	height: 50px;
	color: white;
	/*background-color: green;*/
	position: relative;
	bottom: 0px;
}

.second{
	width: 83%;
	/*height: 0%;*/
	margin-left: 28%;
	/*margin: auto;*/
	/*background-color: green;*/
	margin-top: 30px;
}

.third{
	padding-left: 20px;
	margin-left: 190px;
	width: 80%;
	height: 30%;
	background-color: red;
	margin-left: 240px;
	margin-top: 25px;
}

.fourth{
	width: 70%;
	height: 30%;
	margin-top: 100px;
	margin-left: 46.5%;
}

.sidebar{
	position: fixed;
	width: 245px;
	height: 80%;
	margin-top: 60px;
	float: left;
	background: #151719;
	/*background-color: black;*/
	left: -245px;
	transition: all ease-in-out 400ms;
	-webkit-transition: all ease-in-out 400ms;
}

.sidebar.active{
	left: 0px;
}

.sidebar ul li{
	list-style: none;
	color: rgba(230,230,230,0.9);
	padding: 15px 20px;
	border-bottom: solid rgba(100,100,100,0.3);
}

.sidebar .toggle-btn{
	position: absolute;
	left: 250px;
	top: 20px;
}

.sidebar{
	cursor: url(handcursor.jpg),pointer;
}

.first{
	cursor: url(handcursor.jpg),pointer;
}

.third{
	cursor: url(handcursor.jpg),pointer;
}

.sidebar .toggle-btn span{
	display: block;
	width: 35px;
	height: 5px;
	background: #151719;
	margin: 5px 0px;
}

.image{
	margin-left: 20px;
}

.subheading{
	color: #000000;
	margin-top: -20px;
	margin-left: 280px;
	text-shadow: 5px 10px 10px black;
}

.city{
	font-size: 25px;
	float: left;
	width: 30%;
	margin-left: 80px;
	/*background-color: black;*/
	margin-top: 30px;
}

.zipcode{
	font-size: 25px;
	float: left;
	width: 30%;
	margin-left: 100px;
	/*background-color: black;*/
	margin-top: 30px;
}

.street{
	font-size: 25px;
	float: left;
	width: 30%;
	margin-left: -50px;
	/*background-color: black;*/
	margin-top: 30px;
}

/*#submit{
	width: 20%;
	height: 40%
	margin-left: 20px;
}*/

#map{
	position: relative;
	margin-left: 23%;
}

.about{
	background-color: red;
	margin-left: 150px;
}

.about{
	position: relative;
	width: 100%;
	height: 180px;
	background-image: url('wheat.jpg');
	background-color: red;
	margin-top: 50px;
	float: right;
}

.products{
	position: relative;
	width: 100%;
	height: 180px;
	background-image: url('wheat.jpg');
	margin-top: 50px;
}

/*.smartlamps{
	position: relative;
	width: 100%;
	height: 180px;
	background-image: url('wheat.jpg');
	margin-top: 50px;
}*/

.news{
	position: relative;
	width: 100%;
	height: 180px;
	background-image: url('wheat.jpg');
	margin-top: 50px;
}

/*.php{
	width: 500px;
	height: 200px;
	background-color: black;
	margin-top: 100px;
}*/





*/