*{
	margin: 0;
	padding: 0;
}

.row
{
	width: 1140px;
	margin: 0 auto;
}

body
{
	font-family: arial;
}

.hero
{
	position: absolute;
	width: 1240px;
	top: 0%;
	left: 0%;
	transform: translate(-50%,-50%);
}


header
{
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("start_page_2.jpg");
	height: 167vh;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

h1
{
    font-size: 60px;
	color: #FFFFFF;
}

.Sensor_Station_Manager
{
    
    position: absolute;
    width: 300px;
    top: 5%;
    left: 20%;
}

.Infrastructure_Manager
{
    position: absolute;
    width: 300px;
    top: 5%;
    left: 60%;
    
}

.Database_Manager
{
    position: absolute;
    width: 300px;
    top: 65%;
    left: 20%;
    
}

.Dashboard_Manager
{
    position: absolute;
    width: 300px;
    top: 65%;
    left: 60%;
    
}

